@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  --blanco: #ffffff;
  --negro: #000000;
  --Montserrat: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: var(--Montserrat);
}

.container {
  max-width: 330px;
  margin: 0 auto;
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
    padding: 5rem 3rem;
  }
}
.grid-profile {
  display: grid;
  place-items: center;
}
.goku-profile {
  border-radius: 10%;
  width: 100px;
  height: 100px;
}
@media (min-width: 768px) {
  .goku-profile {
    border-radius: 5%;
    width: 150px;
    height: 150px;
  }
}
.stats {
  display: flex;
  gap: 3rem;
}
.box {
  background-color: #e5e5e5;
  border-radius: 5%;
  text-align: center;
  width: 80px;
  height: 50px;
  display: grid;
  align-content: center;
}
@media (min-width: 768px) {
  .box {
    width: 100px;
    height: 70px;
  }
}
.box__titulo,
.box__descripcion {
  margin: 0;
  font-size: 12px;
}
@media (min-width: 768px) {
  .box__titulo,
  .box__descripcion {
    font-size: 16px;
  }
}
.box__descripcion {
  color: #bdbdbd;
}
.name {
  font-size: 24px;
  margin-bottom: 0;
}
.location {
  margin-top: 0.5rem;
  font-size: 14px;
  color: #a9a9a9;
}
.imagen {
  max-width: 100%;
  border-radius: 5%;
  box-shadow: 0px 0px 18px 2px rgba(176, 176, 176, 0.79);
  object-fit: cover;
}
.imagen__larga {
  width: 100px;
  height: 230px;
}
.imagen__cuadrada {
  width: 100px;
  height: 100px;
}
.imagen__rectagular {
  width: 230px;
  height: 100px;
}
@media (min-width: 768px) {
  .imagen__larga {
    width: 300px;
    height: 630px;
  }
  .imagen__cuadrada {
    width: 300px;
    height: 300px;
  }
  .imagen__rectagular {
    width: 630px;
    height: 300px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas:
    "a b b"
    "c c f"
    "d e f";
}
@media (min-width: 768px) {
  .grid {
    gap: 2rem;
  }
}
.uno {
  grid-area: a;
}
.dos {
  grid-area: b;
}
.tres {
  grid-area: f;
}
.cuatro {
  grid-area: d;
}
.cinco {
  grid-area: e;
}
.seis {
  grid-area: c;
}
.footer {
  text-align: center;
  opacity: 30%;
  font-size: 14px;
}
@media (min-width: 768px) {
  .footer {
    margin-top: 0rem;
  }
}
